<object th:include="fragments/custFragment  ::  all" th:remove="tag"></object>

<br>
<br>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Pengajuan Kredit</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 mb-5">

          

          <form th:action="@{/submitDokumen}" class="p-5 bg-white" method = POST>
            
            <h2 class="h4 text-black mb-5">(2/3) Dokumen</h2> 

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="email">KTP</label> 
                <div class="custom-file">
                    <input type="file" th:value="12345678" th:field = "${userIdentity.ktp}" th:object = "${userIdentity}" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
              </div>
            </div>

            <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">KK</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" th:field = "${userIdentity.kk}" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>
            
              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">NPWP</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" th:field = "${userIdentity.npwp}" th:class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">BPKB</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" th:field = "${userIdentity.bpkb}" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">BKR</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" th:field = "${userIdentity.bkr}"  class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Rekening Koran</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" class="custom-file-input" th:field = "${userIdentity.rekeningKoran}" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">STNK</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" class="custom-file-input" th:field = "${userIdentity.stnk}" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Fraktur</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" class="custom-file-input" th:field = "${userIdentity.fraktur}" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Tujuan Kredit</label> 
                  <div class="custom-file">
                    <input type="text" th:value="12345678" th:field = "${userIdentity.tujuan}" class="form-control rounded-0">
                    </div>
                </div>
              </div>

          
              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Rekening Bank Mandiri</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" class="custom-file-input" th:field = "${userIdentity.rekeningMandiri}" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Rencana Anggaran</label> 
                  <div class="custom-file">
                      <input type="file" th:value="12345678" class="custom-file-input" th:field = "${userIdentity.rancanganAnggaran}" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
              </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Selanjutnya" class="btn btn-primary mr-2 mb-2">
              </div>
            </div>


          </form>
        </div>
      
      </div>
      
    </div>
  </div>