<object th:include="fragments/custFragment  ::  all" th:remove="tag"></object>

<br>
<br>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Pilihan Kredit</h2>
        </div>
      </div>
      <div class="row justify-content-center bg-light">
        <div class="col-lg-10 mb-5">
            <div class = "card">
                <div class = "card-header">
                    <h3>ADDM</h3>
                </div>
                <div class = "card-body">
                    <table class="table text-left" style="width:100%" id="example">
                        <thead>
                            <tr>
                                <th>Nomor</th>
                                <th>Tenor</th>
                                <th>Bulan</th>
                                <th>Rate</th>
                                <th>Angsuran</th>
                                <th>Ajukan</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            <tr th:each="angsurans, counter : ${listAngsuranAddm}">
                                <td th:text="${counter.count}"> 
                                    <input type = "hidden" th:field="${kreditModel.apr}" th:value="${listAprAddm[counter.count - 1]"/>
                                </td>
                                <td th:text="${listAprAddm[counter.count - 1].tenor} + 1"></td>
                                <td th:text="${listAprAddm[counter.count - 1].tenor}"></td>
                                <td th:text="${listAprAddm[counter.count - 1].rate}"></td>
                                <td th:text="${angsurans}"></td>
                                <td>
                                    <form th:action="@{/ajukan/}+${angsurans} +'/2'"  th:object = "${kreditModel}" method="POST">
                                        <input type = "hidden" th:field="${kreditModel.nominal}" th:value="${nominalKredit}"/>
                                        <button class="btn btn-primary" type="submit">
                                            Ajukan
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>

            <div class = "card">
                <div class = "card-header">
                    <h3>ADDB</h3>
                </div>
                <div class = "card-body">
                    <table class="table text-left" style="width:100%" id="example">
                        <thead>
                            <tr>
                                <th>Nomor</th>
                                <th>Tenor</th>
                                <th>Bulan</th>
                                <th>Rate</th>
                                <th>Angsuran</th>
                                <th>Ajukan</th>
                            </tr>
                        </thead>
                        <tbody>

                                <tr th:each="angsurans, counter : ${listAngsuranAddb}">
                                        <td th:text="${counter.count}"></td>
                                        <td th:text="${listAprAddb[counter.count - 1].tenor}"></td>
                                        <td th:text="${listAprAddb[counter.count - 1].tenor}"></td>
                                        <td th:text="${listAprAddb[counter.count - 1].rate}"></td>
                                        <td th:text="${angsurans}"></td>
                                        <td>
                                            <form th:action="@{/ajukan/}+${angsurans} +'/1'"  th:object = "${kreditModel}" method="POST">
                                                <input type = "hidden" th:field="${kreditModel.nominal}" th:value="${nominalKredit}"/>
                                                <button class="btn btn-primary" type="submit">
                                                    Ajukan
                                                </button>
                                            </form>
                                            </td>
                                    
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>

         
        </div>
      
      </div>
      
    </div>
  </div> 