<object th:include="fragments/custFragment  ::  all" th:remove="tag"></object>

<br>
<br>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Pengajuan Kredit</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 mb-5">

          <form th:action="@{/submitDataPribadi}" th:object = "${userPesonal}" class="p-5 bg-white" method="POST">
            
            <h2 class="h4 text-black mb-5">(3/3) Data Pribadi</h2> 


            <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Nama Lengkap</label> 
                  <div class="custom-file">
                    <input type="text" th:text="Cihuahua" th:field="${userPersonal.namaLengkap}" id="namaLengkap" name="namaLengkap" class="form-control rounded-0">
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Alamat</label> 
                  <div class="inputan">
                    <input type="text" th:text="'DepokRaya3'" th:field="${userPersonal.alamat}" id="alamat" name="alamat" class="form-control rounded-0">
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Tempat Lahir</label> 
                  <div class="custom-file">
                    <input type="text" th:value = "'New York'" th:field="${userPersonal.tempatLahir}" id="tujuanKredit" name="tempatLahir" class="form-control rounded-0">
                    </div>
                </div>
              </div>

              <div class="row form-group">
              
                <div class="col-md-12">
                  <label class="text-black" for="email">Tanggal Lahir</label> 
                  <div class="custom-file">
                    <input type="text" th:text="'Cihuahua@gmail.com'" th:field="${userPersonal.tanggalLahir}" id="tujuanKredit" name="tanggalLahir" class="form-control rounded-0">
                    </div>
                </div>
              </div>

              <div class="col-md-12">
                <label class="text-black" for="email">Pendapatan</label> 
                <div class="custom-file">
                  <input type="text" th:text="1000000" th:field="${userPersonal.pendapatan}" id="penadapatan" name="pendapatan" class="form-control rounded-0">
                  </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Selanjutnya" class="btn btn-primary mr-2 mb-2">
              </div>
            </div>


          </form>
        </div>
      
      </div>
      
    </div>
  </div> 