<object th:include="fragments/custFragment  ::  all" th:remove="tag"></object>

<br>
<br>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Pengajuan Kredit</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 mb-5">

            <form th:action="@{/submitJaminan}" th:object="${jaminanModel}" class="p-5 bg-white" method=POST>
            
                <h2 class="h4 text-black mb-5">(1/3) Data Kredit & Jaminan</h2> 
               
                <div class="row form-group">
                  
                    <div class="col-md-12">
                      <label class="text-black" for="merk">Nominal Kredit</label> 
                      <input type="int" th:field="${jaminanModel.kredit.nominal}" class="form-control rounded-0">
                    </div>
                  </div>    
    
                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="merk">Merk Kendaraan</label> 
                    <input type="text" id="merk" th:field="${jaminanModel.merk}" class="form-control rounded-0">
                  </div>
                </div>
  
                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="email">Jenis Kendaraan</label> 
                    <input type="text" id="jenis" th:field="${jaminanModel.jenis}" class="form-control rounded-0">
                  </div>
                </div>
  
                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="subject">Tahun Kendaraan</label> 
                    <input type="text" id="tahun" th:field="${jaminanModel.tahun}" class="form-control rounded-0">
                  </div>
                </div>
  
                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="subject">Harga Kendaraan</label> 
                    <input type="text" id="harga" th:field="${jaminanModel.harga}" class="form-control rounded-0">
                  </div>
                </div>
  
                <div class="row form-group">
                  <div class="col-md-12">
                  <label class="text-black" for="subject">Area</label>
                  <select class="form-control" id="exampleFormControlSelect1" th:field="${jaminanModel.area}">
                    <option th:value="Sumatra">Sumatera</option>
                    <option th:value="Jakarta">Jakarta dan sekitarnya</option>
                    <option th:value="Other">Lainnya</option>
                  </select>
                </div>
                </div>
  
                <div class="row form-group">
                  <div class="col-md-12">
                  <label class="text-black" for="subject">Asuransi</label>
                  <select class="form-control" id="exampleFormControlSelect1" th:field= "${jaminanModel.asuransi}">
                    <option th:value="TLO">TLO</option>
                    <option th:value="Komprehensif">Komprehensif</option>
                  </select>
                </div>
                </div>
  
                <div class="row form-group">
                  <div class="col-md-12">
                    <input type="submit" value="Selanjutnya" class="btn btn-primary mr-2 mb-2">
                  </div>
                </div>


          </form>
        </div>
      
      </div>
      
    </div>
  </div>