<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Easy Cash</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
    <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>
    
  </head>
  <body>	
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    
	<div class="wrapper d-flex align-items-stretch">
	  <nav th:replace="fragments/fragment :: navbar"></nav>
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4">DASHBOARD</h1>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 mx-auto">
                  <h2 class="mb-4">Pengaju Kredit</h2>
                  <div class = "text-center">
                    <table class="table text-left" style="width:100%" id="example">
                        <thead>
                            <tr>
                                <th>Nomor</th>
                                <th>Nama</th>
                                <th>Nomor KTP</th>
                                <th>Status Kredit</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Customer</td>
                                <td>10031999</td>
                                <td>Approved</td>
                                <td>
                                    <a>
                                        <button class="btn btn-primary">
                                            Manage
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                  <br>
              </div>
          </div>
      </div>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>