<!doctype html>
<html lang="en">
  <head>
    <title>Easy Cash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
    <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#hehe').DataTable();
      });
  </script>
    
  </head>
  <body>	
    
    
	<div class="wrapper d-flex align-items-stretch">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	  <nav th:replace="fragments/fragment :: navbar"></nav>
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
      <h1 class="mb-4">DASHBOARD</h1>
      <br><br>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <h2 class="mb-4">Pengaju Kredit</h2>
                  <table class="table" style="width:100%" id="hehe">
                      <thead>
                          <tr>
                              <th>Nomor</th>
                              <th>Nama</th>
                              <th>Nomor KTP</th>
                              <th>Status Kredit</th>
                              <th>Manage</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="user, counter : ${listUser}">
                              <td th:text="${counter.count}"></td>
                              <td th:text="${user.userIdentity.nama}"></td>
                              <td th:text="${user.userIdentity.ktp}"></td>
                              <td>Approved</td>
                              <td>
                                <a th:href="@{/user/manage/}+${user.id}">
                                    <button class="btn btn-primary">
                                        Manage
                                    </button>
                                </a>
                            </td>
                          </tr>
                      </tbody>
                  </table>
                  <br>
              </div>
          </div>
      </div>
      </div>
</div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>