<object th:include="fragments/custFragment  ::  all" th:remove="tag"></object>

<br><br>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Register</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 mb-5">
            <form th:action="@{/add-user}" class="p-5 bg-white" method="POST">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="text-black" for="subject">Username</label> 
                        <input type="subject" id="subject" name="username" class="form-control rounded-0">
                    </div>
                </div>

                <div class="row form-group">       
                    <div class="col-md-12">
                        <label class="text-black" for="subject">Password</label> 
                        <input type="password" id="subject" name="password" class="form-control rounded-0">
                    </div>
                </div>
                <input type="hidden" th:value="2" id="subject" name="id_role" class="form-control rounded-0">

                <div class="row form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>


          </form>
          </div></div></div></div>