<object th:include="fragments/custFragment  ::  all" th:remove="tag"></object>

<br>
<br>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Pilihan Kredit</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 mb-5">

            <form th:action="@{/simulasi/daftar-angsuran/}" th:object="${kreditModel}" class="p-5 bg-white" method=POST>
            
                <h2 class="h4 text-black mb-5">Masukan Nominal Kredit</h2> 
            
                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="merk">Harga Max</label> 
                    <input type="number" th:value="${hargaMax}" class="form-control rounded-0" disabled>
                  </div>
                </div>  

                <div class="row form-group">
                    <div class="col-md-12">
                      <label class="text-black" for="nominal">Nominal Kredit</label> 
                      <input type="number" th:max = "${hargaMax}" name="nominal" class="form-control rounded-0">
                    </div>
                  </div>  
  
                <div class="row form-group">
                  <div class="col-md-12">
                    <input type="submit" value="Ajukan" class="btn btn-primary mr-2 mb-2">
                  </div>
                </div>


          </form>
        </div>
      
      </div>
      
    </div>
  </div>