<!doctype html>
<html lang="en">
  <head>
  	<title>Easy Cash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
    <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="@{/css/style.css}"> -->
  </head>
  <body>	
	<div class="wrapper d-flex align-items-stretch">
	  <nav th:replace="fragments/fragment :: navbar"></nav>
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container-fluid">
            <h1 class="mb-4">USER DETAIL</h1>
            <table class="table" style="width:75%">
                <tbody>
                    <tr>
                        <th style="width: 300px;">Nama </th>
                        <td th:text="${user.userIdentity.nama}"></td>
                    </tr>
                    <tr>
                        <th>KTP </th>
                        <td th:text="${user.userIdentity.ktp}"></td>
                    </tr>
                    <tr>
                        <th>KK </th>
                        <td th:text="${user.userIdentity.kk}"></td>
                    </tr>
                    <tr>
                        <th>NPWP </th>
                        <td th:text="${user.userIdentity.npwp}"></td>
                    </tr>
                    <tr>
                        <th>BPKB </th>
                        <td th:text="${user.userIdentity.bpkb}"></td>
                    </tr>
                    <tr>
                        <th>BKR</th>
                        <td th:text="${user.userIdentity.bkr}"></td>
                    </tr>
                    <tr>
                        <th>STNK</th>
                        <td th:text="${user.userIdentity.stnk}"></td>
                    </tr>
                    <tr>
                        <th>Fraktur</th>
                        <td th:text="${user.userIdentity.fraktur}"></td>
                    </tr>
                    <tr>
                        <th>Tujuan Kredit </th>
                        <td th:text="${user.userIdentity.tujuan}"></td>
                    </tr>
                    <tr>
                        <th>Rancangan Anggaran</th>
                        <td th:text="${user.userIdentity.rancanganAnggaran}"></td>
                    </tr>
                    <tr>
                        <th>Rekening Koran</th>
                        <td th:text="${user.userIdentity.rekeningKoran}"></td>
                    </tr>
                    <tr>
                        <th>Rekening Mandiri</th>
                        <td th:text="${user.userIdentity.rekeningMandiri}"></td>
                    </tr>
    
                    
                </tbody>
                
            </table>           
            <a th:href="@{/}">
                <button class="btn btn-primary">
                    <div class="fa fa-mail-reply">
                    </div>
                </button>
            </a> 
        </div>
      </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
  </body>
</html>