<!doctype html>
<html lang="en">
  <head>
  	<title>Easy Cash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
    <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="@{/css/style.css}"> -->
  </head>
  <body>	
	<div class="wrapper d-flex align-items-stretch">
	  <nav th:replace="fragments/fragment :: navbar"></nav>
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container-fluid">
            <h1 class="mb-4">MANAGE USER DATA</h1>
            <table class="table" style="width:100%">
                <tbody>
                    <tr>
                        <th style="width: 300px;">Nama </th>
                        <td th:text="${user.userPersonal.namaLengkap}"></td>
                    </tr>
                    <tr>
                        <th>Username </th>
                        <td th:text="${user.username}"></td>
                    </tr>
                    <tr>
                        <th>Role </th>
                        <td th:text="${user.role.nama}"></td>
                    </tr>
                    
                </tbody>
                
            </table>
            <a th:href="@{/admin/user/detail/}+${user.id}">
                <button class="btn btn-primary">
                    Show Details
                </button>
            </a>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <div class = "card">
                        <div class = "card-header">
                            <h4 class="mb-4">Integrity</h4>
                            <div style="float: right;">
                                Status : 
                                <div  class="fa fa-check mr-3"></div>
                            </div>
                        </div>
                        <div class = "card-body">
                            <table class="table" style="width:100%">
                                <tbody>
                                    <tr>
                                        <th style="width: 200px;">Pajak </th>
                                        <td>Aman</td>
                                    </tr>
                                    <tr>
                                        <th>Riwayat kredit </th>
                                        <td>Aman</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class = "card">
                        <div class = "card-header">
                            <h4 class="mb-4">Analisa Keuangan</h4>
                            <div  style="float: right;">
                                Status : 
                                <div  th:if = "${repayable}" class="fa fa-check mr-3"></div>
                                <div  th:unless = "${repayable}" class="fa fa-close mr-3"></div>
                            </div>  
                        </div>
                        <div class = "card-body">
                            <table class="table" style="width:100%">
                                <tbody>
                                    <tr>
                                        <th style="width: 200px;">Total Kredit</th>
                                        <td th:text="${user.kredit.nominal}"></td>
                                    </tr>
                                    <tr>
                                        <th style="width: 200px;">Pendapatan Bersih</th>
                                        <td th:text="${pendapatanBersih}"></td>
                                    </tr>
                                    <tr>
                                        <th>Angsuran </th>
                                        <td th:text="${angsuran}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div th:if="!${rejectOrApprove}">
                <div th:if = "${repayable}">
                    <table class="table" style="width:100%">
                        <h3 class="mb-4">SURVEY</h3>
                        <tbody>
                            <tr>
                                <th style="width: 300px;">Tanggal </th>
                                <td th:text="${user.userPersonal.jadwalSurvey}"></td>
                            </tr>
    
                        </tbody>
                    </table>
                    <div style="float: right;">
                        <div style="float: right;">
                            <div>Klik approve apabila telah lolos survey</div>
                            <div class="row" style="float: right;">
                                <div>
                                    <a th:href="@{/admin/approve/} + ${user.id}">
                                        <button class="btn" style="background-color: green; color: white;" >Approve</button>
                                    </a>
                                </div>
                                <div style="padding-left: 8px;">
                                    <a th:href="@{/admin/reject/} + ${user.id}">
                                        <button class="btn btn-danger">Reject</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                    <div style="float: right;" th:unless = "${repayable}">
                        <div >Klik survey apabila customer lolos pertimbangan </div >
                            <div  class="row"  style="float: right;">
                                <div>
                                    <a th:href="@{/admin/conduct/}+${user.id}">
                                        <button class="btn btn-primary" type="submit">
                                            Survey
                                        </button>
                                    </a>
                                </div>
                            
                                <div style="padding-left: 8px;">
                                    <a th:href="@{/admin/reject/} + ${user.id}">
                                        <button class="btn btn-danger">Reject</button>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
           

           
            

            <br><br>
          
            <a th:href="@{/admin}">
                <button class="btn btn-primary">
                    <div class="fa fa-mail-reply">
                    </div>
                </button>
            </a> 
        </div>
      </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
  </body>
</html>