<!doctype html>
<html lang="en">
  <head>
  	<title>Easy Cash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
    <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="@{/css/style.css}"> -->
  </head>
  <body>	
	<div class="wrapper d-flex align-items-stretch">
	  <nav th:replace="fragments/fragment :: navbar"></nav>
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container-fluid">
            <h1 class="mb-4">MANAGE USER DATA</h1>
            <table class="table" style="width:50%">
                <tbody>
                    <tr>
                        <th style="width: 300px;">Nama </th>
                        <td th:text="${user.userIdentity.nama}"></td>
                    </tr>
                    <tr>
                        <th>Username </th>
                        <td th:text="${user.username}"></td>
                    </tr>
                    <tr>
                        <th>Role </th>
                        <td th:text="${user.role.nama}"></td>
                    </tr>
                    
                </tbody>
                
            </table>
            <a th:href="@{/user/detail/}+${user.id}">
                <button class="btn btn-primary">
                    Show Details
                </button>
            </a>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <div class = "card">
                        <div class = "card-header">
                            <h4 class="mb-4">Integrity</h4>
                            <div style="float: right;">
                                Status : 
                                <div  class="fa fa-check mr-3"></div>
                            </div>
                        </div>
                        <div class = "card-body">
                            <table class="table" style="width:100%">
                                <tbody>
                                    <tr>
                                        <th style="width: 200px;">Pajak </th>
                                        <td>Aman</td>
                                    </tr>
                                    <tr>
                                        <th>Riwayat kredit </th>
                                        <td>Aman</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class = "card">
                        <div class = "card-header">
                            <h4 class="mb-4">Analisa Keungan</h4>
                            <div style="float: right;">
                                Status : 
                                <div  class="fa fa-check mr-3"></div>
                            </div>  
                        </div>
                        <div class = "card-body">
                            <table class="table" style="width:100%">
                                <tbody>
                                    <tr>
                                        <th style="width: 200px;">Pendapatan Bersih</th>
                                        <td>Rp 6.000.000</td>
                                    </tr>
                                    <tr>
                                        <th>Angsuran </th>
                                        <td>Rp 4.523.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <table class="table" style="width:50%">
                <h3 class="mb-4">SURVEY</h3>
                <tbody>
                    <tr>
                        <th style="width: 300px;">Tanggal </th>
                        <td>07 Januari 2019</td>
                    </tr>
                    <tr>
                        <th>Waktu</th>
                        <td>10.00 - 13.00</td>
                    </tr>
                    <tr>
                        <th>Nomor Telepon</th>
                        <td>08571267323</td>
                    </tr>
                    <tr>
                        <th>Hasil Survey</th>
                        <td>
                            <div class="row">
                                <button class="btn" style="background-color: green; color: white;" >Approve</button>
                                <div style="padding-left: 8px;">
                                    <button class="btn btn-danger">Reject</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
                
            </table>
            <a th:href="@{/}">
                <button class="btn btn-primary">
                    <div class="fa fa-mail-reply">
                    </div>
                </button>
            </a> 
        </div>
      </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
  </body>
</html>